services:
    db:
        image: postgres:latest
        container_name: pg_container
        environment:
            POSTGRES_USER: myuser
            POSTGRES_PASSWORD: mypassword
            POSTGRES_DB: mydatabase
        ports:
            - "15432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql

volumes:
    postgres_data:
